<div class="bet-form-container" [formGroup]="form">
    <h2>Realizar Apuesta</h2>

    @if (error) {
    <p class="error">{{ error }}</p>
    }
    @if (msg) {
    <p class="success">{{ msg }}</p>
    }

    <div class="bets-list">
        <div class="bet-item">
            <label for="rouletteId">Selecciona una ruleta:</label>
            <select id="rouletteId" formControlName="rouletteId">
                <option value="">-- Selecciona --</option>
                @for (r of rounds; track r._id) {
                <option [value]="r._id"> Ruleta #{{ r.gameNumber }} ({{ r.status }})</option>
                }
            </select>
        </div>

    <div class="bet-item">
        <label for="type">Tipo de Apuesta:</label>
        <select id="type" formControlName="type">
            <option value="numero">Número</option>
            <option value="color">Color</option>
        </select>
    </div>

    <div class="bet-item">
        <label for="value">Valor:</label>

        @if (form.get('type')?.value === 'numero') {
            <input id="value" type="number" formControlName="value" placeholder="Ej: 7" />
        } @else {
            <select id="value" formControlName="value">
                <option value="rojo">Rojo</option>
                <option value="negro">Negro</option>
            </select>
            }
    </div>

        <div class="bet-item">
            <label for="amount">Monto:</label>
            <input id="amount" type="number" formControlName="amount" placeholder="Ej: 1000" />
        </div>
    </div>
    <button class="submit-btn" (click)="submit()">Enviar Apuesta</button>
</div>